body {
    margin: 0;
    background-color: black;
}
  
.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
}

.intro {
    position: absolute;
    top: 30%;
    left: 35%;
    z-index: 1;
    animation: intro 6s ease-out 1s;
    color: rgb(75, 213, 238);
    font-weight: 400;
    font-size: 300%;
    opacity: 0;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.trumpipsum{
    color: yellow;
}