@mixin page-top-margin {
    margin-top: 80px;
}

@mixin page-bottom-margin {
    margin-bottom: 80px;
}

.page-top {
    @include page-top-margin;
}

.page-bottom {
    @include page-bottom-margin;
}

.card-columns {
    @include media-breakpoint-up(sm) {
        column-count: 1;
      }
    @include media-breakpoint-up(md) {
        column-count: 2;
      }
    @include media-breakpoint-up(lg) {
        column-count: 3;
      }
}

// Header
.parallax-slider{
    object-fit: none;
}

#site-header{
    position: relative;
    width: 100%;
}

#site-header-media{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#site-header-media:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.4);
    content: " ";
}

#site-header-image{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.site-branding{
    position: relative;
    width: 100%;
    height: calc(100vh - 56px);
    h1{
        position: absolute;
        color: $white;
        font-size: 10rem;
        top: calc(50% - 56px);
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// Navigation
#navbar{
    padding: 0.5rem 9rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.sticky-fix{
    margin-top: 136px;
}

// Carousel
.carousel-item img{
    height: 55vh;
    max-width: 80%;
    margin: 0 auto;
}

// Pagination
.page {
    display: none;
    img{
        width: 100%;
        height: 200px;
    }
}

.page-active, #pagination-demo .page {
    display: block;
}

#pagination-demo .page-link{
    color: $green;
}

#pagination-demo .active .page-link, .active .page-link:hover{
    background-color: $green;
    color: $white;
}

// Restaurant
.restaurant-title h2{
    margin-bottom: 2rem;
    padding-left: 0;
    color: $green;
}

.adress-informatie h4.first{
    margin-top: 0px;
}

.adress-informatie h4{
    color: $black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.adress-informatie p, .openingsuren p{
    margin-bottom: 0.5rem;
}

// Kaart
.hot-a-la-carte h4, .salads h4, .sushi-rolls h4, .hot-a-la-carte, .salads{
    margin-bottom: 2rem;
}

// Contact
.form{
    margin: 0 auto;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .carousel-item img{
        height: 30vh;
        min-width: 100%;
    }

    .site-branding{
        max-height: 30vh;
        h1{
            font-size: 4rem !important;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .restaurant-title h2{
        text-align: center;
    }

    .page img, .mobile-margin{
        margin-bottom: 30px;
    }

    .first, .last{
        display: none;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    #navbar{
        padding: 0.5rem 1rem;
    }

    .site-branding{
        height: 60vh;
        h1{
            font-size: 7rem;
        }
    }
}