$colors: (
    accent: rgb(40, 167, 69),
    wit: white,
    zwart: black
);

@function color($color-name) {
    @return map-get($colors, $color-name)
};

@mixin page-top-margin {
    margin-top: 80px;
}

@mixin page-bottom-margin {
    margin-bottom: 80px;
}

.page-top {
    @include page-top-margin;
}

.page-bottom {
    @include page-bottom-margin;
}

#accordion{
    @include page-bottom-margin;
    .card-header{
        text-align: center;
    }
}

.card-columns {
    @include media-breakpoint-up(sm) {
        column-count: 2;
    }
}

.header {
    background-color: color(wit);
    padding: 1rem 0;
    margin-bottom: 0;
    img{
        width: 100%;
        height: 200px;
        object-fit: none;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.sticky-fix{
    margin-top: 136px;
}

#navbar{
    padding: 0.5rem 9rem
}

.form{
    margin: 0 auto;
}

.carousel-item img{
    height: 55vh;
    max-width: 90%;
    margin: 0 auto;
}

.restaurant-title h2{
    margin-bottom: 2rem;
    padding-left: 0;
    color: color(accent);
}

.adress-informatie h4.first{
    margin-top: 0px;
}

.adress-informatie h4{
    color: color(zwart);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.adress-informatie p, .openingsuren p{
    margin-bottom: 0.5rem;
}

.hot-a-la-carte h4, .salads h4, .sushi-rolls h4, .hot-a-la-carte, .salads{
    margin-bottom: 2rem;
}

h4{
    color: color(accent);
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .carousel-item img{
        height: 30vh;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .restaurant-title h2{
        text-align: center;
    }

    .page img, .mobile-margin{
        margin-bottom: 30px;
    }

    .first, .last{
        display: none;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    #navbar{
        padding: 0.5rem 1rem;
    }
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width